/* ============== Do not delete this ========== */
.section-selector-1 { background-color: var(--gray-200) }
.col-3 h3 { margin-bottom: 16px }


/* =============== Add your custom CSS below =========== */
header.theme-light { background-color: var(--trend-100) }
header.theme-light .container-btn a.btn:nth-child(1):link,
header.theme-light .container-btn a.btn:nth-child(1):visited { color: var(--black-000) }

header.theme-light .container-btn a.btn:nth-child(1):focus,
header.theme-light .container-btn a.btn:nth-child(1):hover,
header.theme-light .container-btn a.btn:nth-child(1):active { color: var(--white-000) }

header.theme-light .container-btn a.btn:nth-child(1):focus,
header.theme-light .container-btn a.btn:nth-child(1):hover,
header.theme-light .container-btn a.btn:nth-child(1):active { background-color: var(--gray-600) }

header.theme-light .container-btn a.btn:nth-child(1):link,
header.theme-light .container-btn a.btn:nth-child(1):visited { border-color: var(--black-000) }

header.theme-light .container-btn a.btn:nth-child(1):focus,
header.theme-light .container-btn a.btn:nth-child(1):hover,
header.theme-light .container-btn a.btn:nth-child(1):active { border-color: var(--gray-600) }

header h1 {
    font-family: 'Prata', serif;
    font-weight: 400;
    line-height: 1.2
}
section-1 {
 background-color: lemonchiffon;
}


section-2 {
    background-color:lightgreen;
}

section-3 { 
    background-color: lightblue;
}

section-4 { 
    background-color: darkblue;
}
    .section-4 h2,
    .section-4 p{
        color:#fff;
}
    
section-5{background-color: lightcoral;
}

section-6 {}